@{
    ViewData["PageTitle"] = "仪表盘";
}
<h1 class="page-header">仪表盘</h1>
<div class="row placeholders">
    <div class="col-xs-6 col-sm-3 placeholder" title="该管理界面版本号" data-toggle="tooltip" data-placement="bottom">
        <div class="table table-bordered img-circle ring text-center h3 text-info">
            @LayoutView.Version
        </div>
        <h4>管理版本</h4>
        <span class="text-muted">该控制台版本</span>
    </div>
    <div class="col-xs-6 col-sm-3 placeholder" data-toggle="tooltip" data-placement="bottom" title="该值比你在任务管理器里面看到的稍大一些">
        <div class="table table-bordered img-circle ring text-center">
            <div>
                @MachineUtility.ProcessMemoryUsege()
                <span class="text-primary">/</span>
                <span class="h3 text-danger">@MachineUtility.StackMemoryUsage()</span>
            </div>

        </div>
        <h4>内存</h4>
        <span class="text-muted">进程内存/堆内存</span>
    </div>
    <div class="col-xs-6 col-sm-3 placeholder" title="服务器的CPU配置信息" data-toggle="tooltip" data-placement="bottom">
        <div class="table table-bordered img-circle ring text-center h4 ">
            <div style="line-height:1.5em;margin-top:60px;" class="">
                <span class="h1 text-primary">@MachineUtility.CPUCount()</span> 个CPU
            </div>
            <div style="line-height:1.5em;" class="h3  text-success">
                @RuntimeInfo.OperatingSystem @RuntimeInfo.OperatingSystemVersion
            </div>

        </div>
        <h4>操作系统</h4>
        <span class="text-muted">服务器操作系统</span>
    </div>
    <div class="col-xs-6 col-sm-3 placeholder" title="当前系统使用的运行时类型"  data-toggle="tooltip" data-placement="bottom">
        <div class="table table-bordered img-circle ring text-center h3 text-warning">
            @RuntimeInfo.RuntimeType  <span class="h6 text-muted">@RuntimeInfo.RuntimeVersion</span>
        </div>
        <h4>CLR类型</h4>
        <span class="text-muted">当前系统的CLR</span>
    </div>

</div>
<div class="text-right">
    <a class="btn btn-danger" data-toggle="tooltip" data-placement="top" title="结束网站进程" asp-controller="Home" asp-action="Shutdown" onclick="if (!confirm('该操作会结束当前网站进程\n你要继续么？')) { return false; }">系统重启</a>
    <a class="btn btn-danger" data-toggle="tooltip" data-placement="top" title="查看系统模块和其他信息" href="~/Admin/Home/Env">系统环境</a>
</div>
@inject IRuntimeEnvironment RuntimeInfo
@inject ApplicationDbContext Db
@inject RoleManager<IdentityRole> RoleManager
@inject UserManager<ApplicationUser> userManager
@using Microsoft.Data.Entity
@using Microsoft.Extensions.PlatformAbstractions
@*<div class="h4 row container-fluid">
    @{
        var p = System.Diagnostics.Process.GetCurrentProcess();

    }
    MaxWorkingSet:<blockquote>
        @p.MaxWorkingSet
        <h2 class="text-primary">@MachineUtility.DWhandle(p.MaxWorkingSet.ToInt64())</h2>
    </blockquote><br />
    MinWorkingSet:<blockquote>
        @p.MinWorkingSet
        <h2 class="text-primary">@MachineUtility.DWhandle(p.MinWorkingSet.ToInt64())</h2>
    </blockquote><br />
    NonpagedSystemMemorySize64:<blockquote>
        @p.NonpagedSystemMemorySize64
        <h2 class="text-primary">@MachineUtility.DWhandle(p.NonpagedSystemMemorySize64)</h2>
    </blockquote><br />
    PagedMemorySize64:<blockquote>
        @p.PagedMemorySize64
        <h2 class="text-primary">@MachineUtility.DWhandle(p.PagedMemorySize64)</h2>
    </blockquote><br />
    PagedSystemMemorySize64:<blockquote>
        @p.PagedSystemMemorySize64
        <h2 class="text-primary">@MachineUtility.DWhandle(p.PagedSystemMemorySize64)</h2>
    </blockquote><br />
    PeakPagedMemorySize64:<blockquote>
        @p.PeakPagedMemorySize64
        <h2 class="text-primary">@MachineUtility.DWhandle(p.PeakPagedMemorySize64)</h2>
    </blockquote><br />
    PeakVirtualMemorySize64:<blockquote>
        @p.PeakVirtualMemorySize64
        <h2 class="text-primary">@MachineUtility.DWhandle(p.PeakVirtualMemorySize64)</h2>
    </blockquote><br />
    PeakWorkingSet64:<blockquote>
        @p.PeakWorkingSet64
        <h2 class="text-primary">@MachineUtility.DWhandle(p.PeakWorkingSet64)</h2>
    </blockquote><br />
    PrivateMemorySize64:<blockquote>
        @p.PrivateMemorySize64
        <h2 class="text-primary">@MachineUtility.DWhandle(p.PrivateMemorySize64)</h2>
    </blockquote><br />
    VirtualMemorySize64:
    <blockquote>
        @p.VirtualMemorySize64
        <h2 class="text-primary">@MachineUtility.DWhandle(p.VirtualMemorySize64)</h2>
    </blockquote><br />
    WorkingSet64:<blockquote>
        @p.WorkingSet64
    <h2 class="text-primary">@MachineUtility.DWhandle(p.WorkingSet64)</h2>
</blockquote><br />
</div>*@
<h2 class="sub-header">新用户</h2>
<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Email</th>
                <th>用户名</th>
                <th>角色</th>
                <th>策略</th>
            </tr>
        </thead>
        <tbody>
            @{
                var AdminRoleId = (Db.Roles.Where(ro => ro.Name == "Admin").FirstOrDefault().Id);
                var users = Db.Users.Include(u => u.Roles).Include(u => u.Claims).Where(
                    u => u.Roles.Any(
                        r => r.RoleId.Equals(
                            AdminRoleId
                        )
                    )
                ).Take(10);


            }
            @foreach (var u in users)
            {
                <tr>
                    <td>@u.Id</td>
                    <td>@u.Email</td>
                    <td>@u.NormalizedUserName</td>
                    <td>
                        @{
                            var rId = u.Roles.FirstOrDefault()?.RoleId;
                            if (rId != null)
                            {
                                var role = await RoleManager.FindByIdAsync(rId);
                                @role.NormalizedName
                            }

                        }
                    </td>
                    <td>
                        @{
                            foreach (var c in u.Claims)
                            {
                                <text>@c.ClaimType => @c.ClaimValue<br /></text>
                            }
                        }
                    </td>
                </tr>
                            }
        </tbody>
    </table>
</div>
